django>=5.2.4
djangorestframework
django-allauth>=0.63.3
dj-rest-auth
social-auth-app-django
python-dotenv
pillow
drf-spectacular
django-cors-headers
djangorestframework-simplejwt
dj-rest-auth[with_jwt]
gunicorn
psycopg2-binary
dj-database-url
channels>=4.0.0
channels-redis